{{ with open('./template/genericHeader.html','r') as header }}
{{     headerContent = header.read() }}
{{     headerContent }}
{{ end with }}
    <a href="{{ website.getPageById('dlMetro').link }}">
    <div class="c6-all-size c2-xlarge-size c2-xxlarge-size">
        <div class="cell">
            {{ website.getPageById("dlMetro-summary").content }}
        </div>
    </div>
    </a>
    <div class="c6-all-size c2-xlarge-size c2-xxlarge-size">
        <div class="cell">
            {{ website.getPageById("tython-summary").content }}
        </div>
    </div>
    <div class="c6-all-size c2-xlarge-size c2-xxlarge-size">
        <div class="cell">
            {{ website.getPageById("websu-summary").content }}
        </div>
    </div>
    <div class="c6-all-size">
        <div class="cell">
            {{ website.getPageById("under-development").content }}
        </div>
    </div>                    
    <div class="c6-all-size last">
        <div class="cell made-with">
            {{ website.getPageById("made-with").content }}
        </div>
    </div> 
{{ with open('./template/genericFooter.html','r') as footer }}
{{     footerContent = footer.read() }}
{{     footerContent }}
{{ end with }}
                        
                        
                        
                        
 